<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sleepphones" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">臺灣綿羊聲籟</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><a href="/"><i class="icon-home"></i></a></li>
              <li><a href="/"><i class="icon-headphones"></i></a></li>
              <li><a href="/"><i class="icon-shopping-cart"></i></a></li>
              <li><a href="/"><i class="icon-bullhorn"></i></a></li>
              <li><a href="/"><i class="icon-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>

    </div>

    <footer class="footer">
      <p class="copy">&copy; 2013 臺灣綿羊聲籟・<a href="/">愛睡覺</a></p>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
